* {
    box-sizing: border-box;
}


.wrapper {
    margin: 0 auto;
    width: 75%;
}


.header-navigation{
    text-align: center;
}


.header-menu {
    display: inline-block;
    margin: 30px 0;
}


.header-menu > a {
    margin: 0 25px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(23, 23, 23);
}


.header-menu > a:hover {
    color: aqua;
}


main {
    margin: 0 auto;
}


.content-box {
    width: 470px;
    display: inline-block;
    margin:0 0 100px 17px;
}


.content-box img {
    width: 100%;
}


.content-box p, h3 {
    color: rgb(23, 23, 23);
    font-family: 'Playfair Display', serif;
}


.image-caption {
    text-transform: uppercase;
    font-size: 12px;
}


.content-box h3 {
    line-height: 22px;
    font-size: 25px;
}


.load-more {
    font-family: 'Playfair Display', serif;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 25px;
    border: 2px solid rgb(23, 23, 23);
}


.load-more:hover {
    color: aqua;
}
