* {
    box-sizing: border-box;
}


.wrapper {
    margin: 0 auto;
    width: 960px;
}


.header-navigation{
    text-align: center;
    margin: 30px 0;
}


.header-item {
    display: inline-block;
    margin: 30px 0;
}


.header-item > a {
    margin: 0 25px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #626262;
}


.header-item > a:hover {
    color: aqua;
}


main {
    margin: 0 auto;
}


.content-post {
    width: 470px;
    display: inline-block;
    margin:0 0 70px 5px;
    padding: 0 20px;
}


.content-post img {
    width: 100%;
}


.content-post p, h3 {
    color: #626262;
    font-family: 'Playfair Display', serif;
    line-height: 25px;
}


.main-heading {
    margin: 10px 0;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}


.content-post h3 {
    margin: 10px 0;
    line-height: 22px;
    font-size: 30px;
    padding: 20px 0;
}


.load-more {
    display: block;
    text-align: center;
    margin-bottom: 40px;
}


.load-more a{
    font-family: 'Playfair Display', serif;
    display: inline-block;
    text-align: center;
    padding: 15px;
    border: 2px solid #626262;
}
