.main-content-header {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #222222;
  margin: 130px 0 25px 0;
}

.main-content-header-description {
  text-align: center;
  font-size: 16px;
  text-transform: none;
  font-family: "DroidSerif", serif;
  color: #777777;
  font-weight: normal;
  margin: 25px 0 100px 0;
}

.main-content-post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 125px;
}

.main-content-item {
  width: 280px;
  text-align: center;
}

.content-item-image {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border: 3px solid #fed136;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.basket {
  background-image: url(../images/Icon-Basket.png);
}

.laptop {
  background-image: url(../images/Icon-Laptop.png);
}

.security {
  background-image: url(../images/Icon-Locked.png);
}

.content-item-header {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #222222;
  margin: 30px auto 25px auto;
}

.content-item-text {
  font-size: 14px;
  font-family: "RobotoSlab";
  line-height: 1.2;
  color: #777777;
}

/* main second section */
.main-form {
  width: 100%;
  margin: 0 auto;
  background: #222222;
  background-image: url(../images/Map-image.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.form-header {
  padding-top: 115px;
  color: #ffffff;
}

.main-form-header-description {
  text-align: center;
  font-size: 16px;
  text-transform: none;
  font-family: "DroidSerif";
  color: #777777;
  font-weight: normal;
  margin: 25px 0 80px 0;
}

.form-container {
  width: 100%;
}

.data-input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.form-data-item,
#message {
  width: 415px;
  padding: 20px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-family: "Montserrat";
  color: #000;
  text-transform: uppercase;
}

#name,
#email {
  margin-bottom: 30px;
}

.form-data-item::placeholder,
#message::placeholder {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(187, 187, 187);
  text-transform: uppercase;
}

#name:focus:valid,
#email:focus:valid,
#message:focus:valid {
  outline: 4px solid green;
}

#name:focus:invalid,
#email:focus:invalid,
#message:focus:invalid {
  outline: 4px solid red;
}

#button {
  display: block;
  text-transform: uppercase;
  padding: 25px 45px;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  background: #fed136;
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 115px;
  cursor: pointer;
}
