.section-first-content-header {
  font-size: 40px;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #222222;
  margin-bottom: 100px;
}

.section-first-content-header span {
  font-size: 16px;
  text-transform: none;
  font-family: "DroidSerif";
  color: #777777;
  font-weight: normal;
  margin-bottom: 100px;
}

.main-content-post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 125px;
}

.main-content-item {
  width: 30%;
  text-align: center;
}

.content-item-image {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border: 3px solid #fed136;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.basket {
  background-image: url(../images/Icon-Basket.png);
}

.laptop {
  background-image: url(../images/Icon-Laptop.png);
}

.security {
  background-image: url(../images/Icon-Locked.png);
}

.content-item-header {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #222222;
  margin: 30px auto 25px auto;
}

.content-item-text {
  font-size: 14px;
  font-family: "RobotoSlab";
  line-height: 1.2;
  color: #777777;
}

/* main second section */
.main-form {
  width: 100%;
  margin: 0 auto;
}

.main-second-section {
  background: #222222;
  background-image: url(../images/Map-image.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.section-form {
  display: flex;
}

.section-second-content-header {
  font-size: 40px;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 110px auto 120px auto;
}

.section-second-content-header span {
  font-size: 16px;
  text-transform: none;
  font-family: "DroidSerif";
  color: #777777;
  font-weight: normal;
}

.data-input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.form-data {
  width: 44.15%;
}

.form-data-list {
  width: 100%;
}
.form-data-item, #message {
  width: 44.15%;
  padding: 20px;
  border-radius: 4px;
  border: none;
}

.form-data-item {
  width: 100%;
}

#name, #email {
  margin-bottom: 30px;
}

.form-data-item::placeholder,
#message::placeholder{
  color: #bbbbbb;
  text-transform: uppercase;
}

#name:focus:valid,
#email:focus:valid,
#message:focus:valid {
  outline: 4px solid green;
}

#name:focus:invalid,
#email:focus:invalid,
#message:focus:invalid {
  outline: 4px solid red;
}

#button {
  display: block;
  text-transform: uppercase;
  padding: 25px 45px;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  background: #fed136;
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 115px;
}