header {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.header-cup {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.registration-data {
  padding-top: 35px;
  display: flex;
  justify-content: space-around;
}

.registration-data-item {
  width: 80px;
  border: 3px solid #ffffff00;
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0 20px;
  padding: 15px;
}

.registration-data-item:hover {
  border: 3px solid #ffffff;
  border-radius: 40px;
}

.header-logo {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 135px auto 40px auto;
}

.header-logo a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .container {
    min-width: 660px;
  }
  .header-logo {
    margin: 30px 0 0 0;
    padding: 0;
  }

  .header-registration {
    width: 160px;
  }

  .registration-data {
    width: 160px;
    margin: 0;
  }

  .registration-data-item {
    margin: 0;
    padding: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    min-width: 940px;
  }
}
