header {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.header-cup {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.registration-data {
  padding-top: 35px;
  display: flex;
  justify-content: center;
}

.registration-data-item {
  width: 150px;
  border: 3px solid #ffffff00;
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0 20px;
  padding: 15px;
}

.registration-data-item:hover {
  border: 3px solid #ffffff;
  border-radius: 40px;
}

.header-logo {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 135px auto 40px auto;
}

.header-logo a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}



@media (min-width: 660px) {
  .container {
    width: 660px;
  }

  

  .header-cup {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 160px;
  }

  .header-logo {
    margin: 0;
    padding: 0;
  }

  .registration-data {
    padding: 0;
  }

  .user-info-header {
    width: 350px;
    margin: 0 auto;
  }
}

@media (min-width: 940px) {
  .container {
    width: 940px;
  }
}

