main {
  margin: 0 -15px;
}


.main-slider {
  position: relative;
  height: 600px;
  top: 0px;
}
.main-slider-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.button {
  width: 100px;
  height: 100px;
  background: #1abc9c;
  position: absolute;
  top: 225px;
  outline: none;
  border: 0;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  opacity: 0.7;
  cursor: pointer;
}
.button:hover {
  opacity: 1;
}
.button-prev {
  left: 0px;
  transform: rotate(180deg);
}
.button-next {
  right: 0px;
}
.slider-post {
  font-size: 60px;
  font-family: "Roboto";
  color: #fff;
  text-transform: uppercase;
  line-height: 1.367;
  font-weight: bold;
  position: absolute;
  top: 220px;
  left: 185px;
}
.slider-post > span {
  font-size: 20px;
  font-weight: lighter;
}

.section-header {
  display: block;
  position: relative;
  margin: 100px auto 120px auto;
  text-align: center;
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 48px;
  color: #515151;
  font-weight: bolder;
  width: 555px;
  height: 50px;
}
.section-header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: -34px auto;
  width: 165px;
  height: 6px;
  background: #1abc9c;
  opacity: 1;
}

.section-content {
  width: 100%;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.block-product {
  position: relative;
}

.block-product:hover .product-name {
  background: #1abc9c;
}

.block-product:hover .price {
  background: #7fd9c7;
}

.product-image {
  width: 255px;
  height: 322px;
}

.block-product-info {
  position: absolute;
  bottom: 0;
}

.product-name {
  display: block;
  width: 200px;
  padding: 14px;
  float: left;
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background: #323232;
}

.price {
  display: block;
  width: 55px;
  padding: 14px;
  float: right;
  background: #8c8c8c;
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.block-product-links {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 255px;
  height: 270px;
  opacity: 0;
}

.block-product-links:hover {
  background-image: url(../images/Rectangle-link.png);
  opacity: 1;
}

.block-product-links:hover .product-name {
  background: #1abc9c;
}

.submenu-button {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  background: transparent;
  cursor: pointer;
}

.heart,
.arrows,
.clock {
  background-size: 75%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.heart {
  position: absolute;
  top: 75px;
  left: 45px;
  background-image: url(../images/heart.svg);
}

.arrows {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/link.svg);
}

.clock {
  position: absolute;
  top: 75px;
  right: 45px;
  background-image: url(../images/clock.svg);
}

.basket {
  position: absolute;
  width: 165px;
  bottom: 85px;
  left: 45px;
  background-color: #323232;
  background-image: url(../images/basket.svg);
  font-size: 16px;
  font-family: "Roboto";
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  background-repeat: no-repeat;
  background-size: 25%;
}

.submenu-button:hover {
  background-color: #1abc9c;
  opacity: 1;
}
