@import url(header.css);
@import url(main.css);
@import url(footer.css);

body {
  overflow-x: hidden;
  background: #e9f0fd;
}
.wrapper {
  margin: 0 auto;
}

.content {
  width: 1110px;
  margin: 0 auto;
}

